<div class="flex flex-col items-center justify-center h-[calc(100vh-4rem)]">

  <header class="text-center text-4xl font-bold pb-8">
    <p>Registrati!</p>
    <p>Unisciti a noi...</p>
  </header>

  <%= form_with model: @user, url: registration_path, class: "flex flex-col items-center justify-center text-center space-y-5" do |f| %>
    <%= tag.div(@user.errors.full_messages.to_sentence, class: "text-red-500") if @user.errors.any? %>

    <div class="w-full">
      <%= f.label :email, "Inserisci il tuo indirizzo email", class: "text-lg" %>
      <%= f.email_field :email, class: "w-full text-center text-xl font-bold border-dashed border-t-0 border-x-0 focus:border-t-0 focus:border-x-0 focus:ring-0 outline-none" %>
    </div>
    <div class="w-full h-3"></div>
    <div class="w-full">
      <%= f.label :password, "e la password", class: "text-lg" %>
      <%= f.password_field :password, class: "w-full text-center text-xl font-bold border-dashed border-t-0 border-x-0 focus:border-t-0 focus:border-x-0 focus:ring-0 outline-none" %>
    </div>

    <%= f.submit "Registrati", class: "px-3.5 py-1.5 text-lg font-semibold text-white rounded rounded-full bg-indigo-600" %>
  <% end %>
</div>